:root {
  --basic-black: #000000;
  --basic-grey: #A6A6A6;
  --basic-extra-grey: #D5D5D5;
  --basic-light-grey: #EEEEEE;
  --basic-dark-grey: #DFDFDF;
  --basic-dimgrey: #4D4D4D;
  --basic-silver-grey: #444444;
  --basic-darkslategrey: #283136;
  --basic-white: #ffffff;
  --basic-red: #FB565A;
  --basic-red-dark: #E74246;
  --basic-extra-red: #D7373B;
  --basic-green: #00BC6C;
  --basic-light-green: #00CA74;
  --basic-dark-green: #00AA62;
  --basic-yellow: #EAB534;
  --basic-light-yellow: #EFC84A;
  --basic-dark-yellow: #E5A722;
  --basic-grey-button: #C1C1C1;
  --basic-grey-contact: #666666;
  --basic-grey-active: #DBDBDB;
  --basic-black-button: #231F20;
  --basic-grey-link: #E1E1E1;
  --basic-grey-controls: #ABABAB;
  --basic-grey-border: #D7DCDE;
  --basic-grey-focus: #B4B9BB;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-darkslategrey);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  background-color: var(--basic-light-grey);
}

.main-header-logo{
  order: 0;
  width: 160px;
  height: 65px;
  margin-top: 49px;
  margin-right: 203px;
}
.main-header-logo:active {
  opacity: 0.1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 75px;
  padding: 0;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  list-style: none;
}

.site-navigation a {
  position: relative;
  padding-right: 46px;
}

.site-navigation li {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 798px;
  position: relative;
}

.current::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--basic-red);
  transition: width .3s;
}

.current:link::after {
  width: 100%;
  transition: width .3s;
  margin-top: 13px;
}

.main-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}

.user-basket {
  max-width: 120px;
  margin-top: 75px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.user-basket .cart-icon {
  padding-left: 40px;
  position: relative;
}

.cart-icon::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-logo a:not([href]) {
  background-color: var(--basic-light-grey);
}

.site-navigation a,
.user-basket a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-basket a:hover {
  color: var(--basic-red);
}

.site-navigation a:focus,
.user-basket a:focus {
  color: var(--basic-black);
}

.site-navigation a:active,
.user-basket a:active {
  opacity: 0.3;
}

.features {
  min-height: 430px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  background-color: var(--basic-light-grey); 
}

.feature-slider {
  padding: 0;
  margin: 0;
  list-style: none;
}

.feature-slider .feature-title {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-top: 78px;
  color: var(--basic-black);
}

.feature-item {
  display: none;
  position: relative;
}

.feature-item-active {
  display: block;
}

.feature-img {
  position: absolute;
  top: 0;
  right: 0;
}

.feature-img img{
  display: block;
}
.feature-text {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 38px;
  margin-top: 28px;
  margin-left: 1px;
  color: var(--basic-darkslategrey);
}

.feature-wrapper {
  position: absolute;
  width: 538px;
}

.button {
  display: inline-block;
  padding-top: 17px;
  padding-right: 54px;
  padding-bottom: 16px;
  padding-left: 55px;
  vertical-align: middle;
  border-radius: 3px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.button:hover {
  background-color: var(--basic-red-dark);
}

.button:active {
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}


.slider-buttons {
  display: flex;
  position: relative;
  top: 317px;
  width: 88px;
  justify-content: space-between;
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
}

.slider-button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}

.slider-button-active::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-grey-button);
  border-radius: 50%;
  box-sizing: border-box;
}

.services {
  list-style: none;
}

.service-list {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 92px;
}

.service-item img {
  width: 300px;
  height: 146px;
}

.service-item-cite h3,
.service-item-app h3,
.service-item-presentation h3 {
  width: 138px;
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
}

.service-item-cite p,
.service-item-app p,
.service-item-presentation p {
  width: 260px;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-darkslategrey);
  margin: 0;
  margin-bottom: 45px;
}

.button-book {
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  border-radius: 3px;
  color: var(--basic-white);
}

.service-item-cite a {
  background-color: var(--basic-red);
}

.service-item-cite a:hover {
  background-color: var(--basic-red-dark);
}

.service-item-cite a:active {
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.service-item-app a {
  background-color: var(--basic-light-green);
}

.service-item-app a:hover {
  background-color: var(--basic-green);
}

.service-item-app a:active {
  background-color: var(--basic-dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.service-item-presentation a {
  background-color: var(--basic-light-yellow);
}

.service-item-presentation a:hover {
  background-color: var(--basic-yellow);
}

.service-item-presentation a:active {
  background-color: var(--basic-dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.slogan {
  display: flex;
  flex-wrap: wrap;
  padding-top: 39px;
  padding-bottom: 33px;
  border-bottom: 2px solid var(--basic-light-grey);
  border-top: 2px solid var(--basic-light-grey);
}

.container-slogan {
  margin: 0;
  margin-right: 149px;
}

.slogan-text {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 33px;
  padding-top: 35px;
}

.slogan-description,
.slogan-description-info {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-darkslategrey);
  margin-bottom: 40px;
}

.slogan-description-info {
  margin-right: 20px;
}

.slogan-description li {
  position: relative;
  margin-bottom: 24px;
  margin-left: -4px;
}

.slogan-description li::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.slogan-info {
  height: 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 24px;
}

.slogan-info-table {
  margin-bottom: 30px;
}

.slogan-table img {
  width: 360px;
  margin: 0;
  padding: 0;
}

.slogan-table p {
  padding-top: 15px;
  padding-left: 20px;
}

.table {
  width: 360px;
  border-collapse: collapse;
  text-align: left;
}

.table td {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.table th {
  position: relative;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin: 0;
  padding: 0;
  padding-bottom: 11px;
  padding-right: 43px;
}

.table th::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 30px;
  top: 14px;
  right: 10px;
  background-image: url("../img/per-cent.png");
  background-repeat: no-repeat;
}
.table th:nth-child(3n+3)::after{
  width: 57px;
}
.logos {
  display: flex;
  min-height: 180px;
  align-items: center;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  color: var(--basic-black);
  border-bottom: 2px solid var(--basic-light-grey);
}

.logo-link img {
  position: relative;
  opacity: 0.2;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.logo-link:nth-child(4n+1),
.logo-link:nth-child(4n+4) {
  width: 280px;
}

.logo-link-academy img {
  margin-left: -20px;
  margin-top: 17px;
}

.logo-link-mishka img {
  margin-right: -20px;
  margin-top: 10px;
}

.logo-link:hover img {
  opacity: 1;
}

.logo-link:active {
  opacity: 0.1;
}

.logo-link-academy::after,
.logo-link-barbershop::after,
.logo-link-pink::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-light-grey);
}

.logo-link-academy::after {
  margin-left: 141px;
}

.logo-link-barbershop::after {
  margin-left: 152px;
}

.logo-link-pink::after {
  margin-left: 152px;
}

.page-title {
  margin: 0;
  margin-top: 72px;
  margin-bottom: 108px;
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-right: 15px;
}

.filters {
  margin-right: 140px;
}

.filter-container .container {
  display: flex;
}

.filter-item {
  margin: 0;
  margin-top: 55px;
}

.filters legend {
  color: var(--basic-black);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-range legend {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--basic-light-grey);
  border-radius: 5px;
}

.range-controls .scale {
  width: 205px;
  height: 2px;
  background-color: var(--basic-dark-grey);
}

.range-controls .bar {
  width: 140px;
  height: 2px;
  background-color: var(--basic-light-green);
}

.range-controls .toggle-min-price,
.range-controls .toggle-max-price {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey-controls);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-grey-controls);
  cursor: pointer;
}

.price-controls {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  color: var(--basic-darkslategrey);
  text-transform: uppercase;
  justify-content: space-between;
  margin-bottom: 53px;
}

.price-controls input {
  width: 80px;
  height: 38px;
  text-align: center;
  background-color: var(--basic-light-grey);
  border: none;
  border-radius: 3px;
  outline: none;
}

.price-controls .price-min {
  margin-right: 25px;
}

.range-controls .toggle-min-price {
  left: 18px;
}

.range-controls .toggle-max-price {
  left: 160px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 23px;
  height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.filet-type-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.filter-difference {
  display: flex;
  position: relative;
  width: 360px;
  height: 18px;
  margin: 0;
  margin-top: 61px;
  margin-left: 30px;
  padding: 0;
  text-transform: uppercase;
}

.filter-difference a {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}

.filter-difference .price,
.filter-difference .type,
.filter-difference .title {
  opacity: 0.3;
}

.filter-difference .price:hover,
.filter-difference .type:hover,
.filter-difference .title:hover {
  opacity: 0.6;
}

.filter-difference .price:active,
.filter-difference .type:active,
.filter-difference .title:active {
  opacity: 1;
}

.filter-difference .price {
  margin-right: 25px;
}

.filter-difference .type {
  margin-right: 26px;
}

.filter-difference .decrease,
.filter-difference .increase {
  position: absolute;
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  top: 4px;
}

.filter-difference .decrease {
  background-image: url("../img/icon-down-dir.svg");
  left: 320px;
}

.filter-difference .increase {
  background-image: url("../img/icon-up-dir.svg");
  left: 348px;
}

.decrease,
.increase {
  opacity: 0.3;
}

.decrease:hover,
.increase:hover {
  opacity: 0.6;
}

.decrease:active,
.increase:active {
  opacity: 1;
}

.filte-type .increase {
  padding-left: 18px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.breadcrumbs {
  color: var(--basic-darkslategrey);
  padding: 0;
  padding-top: 13px;
  margin: 0;
}

.breadcrumbs-field {
  padding: 0;
  padding-top: 18px;
  margin: 0;
}

.breadcrumbs li {
  position: relative;
}

.filter-breadcrumbs {
  margin: 0;
  margin-bottom: 25px;
}

.filter-radio,
.filter-checkbox {
  list-style: none;
  color: var(--basic-darkslategrey);
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.breadcrumbs .filter-radio {
  margin-bottom: 14px;
}

.breadcrumbs-field .filter-checkbox {
  margin-bottom: 14px;
}

.breadcrumbs-filter-checkbox {
  margin: 0;
  width: 260px;
}

.filter-option label,
.filter-option-radio label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 35px;
}

.filter-option-radio label {
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.filter-radio input:checked+label {
  background-image: url("../img/radio-on.svg");
}


.filter-option label {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 26px;
}

.filter-checkbox input:checked+label {
  background-image: url("../img/checkbox-on.svg");
}

.breadcrumbs .filter-option-radio {
  margin-bottom: 15px;
}

.filter-option-radio label,
.filter-option label {
  width: 225px;
  opacity: 0.6;
}

.filter-option-radio:hover label,
.filter-option:hover label {
  opacity: 1;
}

.filter-option-radio:active label,
.filter-option:active label {
  opacity: 0.3;
}

.filter fieldset {
  padding: 0;
  border: none;
}

.filter-input-radio:hover+label,
.filter-input-checkbox:hover+label {
  color: var(--basic-darkslategrey);
}

.filter-input-radio:active+label,
.filter-input-checkbox:active+label {
  color: var(--basic-darkslategrey);
  opacity: 0.3;
}

.button-filter {
  background-color: var(--basic-light-grey);
  padding-top: 17px;
  padding-right: 89px;
  padding-bottom: 15px;
  padding-left: 88px;
  margin-top: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  border: none;
  border-radius: 3px;
  outline: none;
}

.button-filter:hover {
  background: var(--basic-dark-grey);
}

.button-filter:active {
  background-color: var(--basic-extra-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.filter-type {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 60px;
}

.filter-type h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  margin-top: 55px;
}

.catalog-wrapper {
  display: flex;
  position: relative;
  background-image: url("../img/browser2.svg");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  margin-bottom: 31px;
}

.catalog-wrapper:hover {
  background-image: url("../img/browser.svg");
}

.catalog-wrapper img {
  background-image: url("../img/browser2.svg");
  z-index: 1;
}

.catalog-wrapper:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item {
  list-style: none;
}

.container {
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
}

.page-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
}

.catalog-info {
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 360px;
  min-height: 231px;
  text-align: center;
  padding-top: 26px;
  background-color: var(--basic-light-grey);
  z-index: 0;
}

.catalog-item:hover .catalog-info {
  z-index: 2;
}

.catalog-info .button {
  display: inline-block;
  color: var(--basic-white);
  background-color: var(--basic-red);
  margin: 0;
  min-width: 93px;
  padding-right: 54px;
  padding-top: 16px;
}

.catalog-info .button:hover {
  background-color: var(--basic-red-dark);
}

.catalog-info .button:active {
  background-color: var(--basic-extra-red);
}

.catalog-info h3 {
  margin: 0;
  padding-top: 27px;
}

.catalog-info p {
  width: 180px;
  height: 37px;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 11px;
  padding-bottom: 33px;
  color: var(--basic-grey-contact);
}

.catalog-info .website {
  width: 71px;
  height: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-info .website:hover {
  color: var(--basic-red);
}

.catalog-info .website:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.button-page {
  display: block;
  min-width: 50px;
  padding-top: 16px;
  padding-right: 17px;
  padding-bottom: 16px;
  padding-left: 17px;
  background-color: var(--basic-light-grey);
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-align: center;
  box-sizing: border-box;
}

.nav-button-next {
  padding-right: 50px;
  padding-left: 50px;
  min-width: 260px;
}

.button-page:hover {
  background: var(--basic-dark-grey);
}

.button-page:active {
  background-color: var(--basic-extra-grey);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.button-page-active {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-grey-active);
  padding: 13px 14px;
}

.button-page-active:hover {
  background-color: var(--basic-dark-grey);
  border-color: var(--basic-dark-grey);
}

.button-page-active:active {
  background-color: var(--basic-extra-grey);
  border: none;
  padding: 16px 17px;
}

.nav-button-previous {
  display: none;
}
.main-footer .container {
  display: grid;
  grid-template-columns: 261px 660px 1fr;
  column-gap: 140px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-bottom: 76px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  width: 81px;
  height: 81px;
  background-position: center;
}

.social-item {
  background-color: var(--basic-grey-link);
  border-radius: 50%;
}

.social-item:hover {
  background-color: var(--basic-red-dark);
}

.social-item:active {
  background-color: var(--basic-extra-red);
}

.social-link-vk {
  background-image: url("../img/vk-icon.svg");
}

.social-link-fb {
  background-image: url("../img/fb-icon.svg");
}

.social-link-inst {
  background-image: url("../img/insta-icon.svg");
}

.social-link-vk:active,
.social-link-fb:active,
.social-link-inst:active {
  opacity: 0.3;
}

.social-link::before {
  position: absolute;
}

.advertisement {
  margin: 0;
  padding: 0;
}

.advertisement h2 {
  width: 660px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 7px;
  color: var(--basic-black);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.advertisement p {
  margin: 0;
  color: var(--basic-silver-grey);
  font-weight: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
.address .tel{
 color: var(--basic-grey-contact);
 text-transform: none;
}
.map {
  position: relative;
  overflow: hidden;
  height: 416px;
  margin: 0;
  margin-bottom: 68px;
  background-repeat: no-repeat;
}

.map img {
  display: block;
  position: absolute;
  width: 100%;
  min-width: 1440px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.map .container {
  display: flex;
}

.address {
  padding-top: 49px;
  padding-right: 50px;
  padding-bottom: 60px;
  padding-left: 50px;
  margin-top: 54px;
  text-align: center;
  background-color: var(--basic-white);
}

.contacts-studio {
  height: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  text-align: start;
  color: var(--basic-black);
  text-transform: uppercase;
}

.contact-address {
  text-align: start;
  height: 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 52px;
  color: var(--basic-grey-contact);
}

.button-contact {
  padding-top: 17px;
  padding-right: 44px;
  padding-bottom: 15px;
  padding-left: 44px;
  border-radius: 3px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.button-contact:hover {
  background-color: var(--basic-red-dark);
}

.button-contact:active {
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.message {
  display: none;
  padding-top: 63px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-left: 100px;
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: var(--basic-white);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  width: 960px;
  height: 590px;
  box-sizing: border-box;
}

.message-item {
  margin: 0;
  width: 360px;
  box-sizing: border-box;
}

.message-item input {
  width: 360px;
  height: 50px;
  font: inherit;
  border: 2px solid var(--basic-grey-border);
  padding-left: 16px;
  margin-bottom: 34px;
  color: var(--basic-silver-grey);
  box-sizing: border-box;
  outline: none;
}

.message-item label,
.message-item-text label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  box-sizing: border-box;
}

.message-item-text {
  margin: 0;
  padding: 0;
}

.message-item-text textarea {
  width: 760px;
  height: 118px;
  border: 2px solid var(--basic-grey-border);
  margin-bottom: 43px;
  padding-top: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  outline: none;
}

.message-item input:hover,
.message-item-text textarea:hover {
  border-color: var(--basic-grey-focus);
  color: var(--basic-silver-grey);
}

.message-item input::placeholder,
.message-item-text textarea::placeholder {
  color: var(--basic-silver-grey);
  opacity: 0.5;
}

.message-item input:focus,
.message-item-text textarea:focus {
  border-color: var(--basic-black);
  color: var(--basic-black);
}

.message-item input:disabled,
.message-item textarea:disabled {
  border-color: var(--basic-red-dark);
  color: var(--basic-red-dark);
}

.message-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.message h2 {
  width: 311px;
  height: 53px;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  margin-bottom: 37px;
}

.message .button {
  padding-top: 17px;
  padding-right: 83px;
  padding-bottom: 15px;
  padding-left: 83px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  outline: none;
}

.message .button:hover {
  background-color: var(--basic-red-dark);
}

.message .button:active {
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-close {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 70px;
  left: 838px;
  align-items: flex-end;
  background: transparent;
  padding: 0;
  margin: 0;
  padding-right: 25px;
  border: none;
}

.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  top: 50%;
  background: var(--basic-red);
  opacity: 0.3;
}

.button-close::before {
  transform: rotate(-45deg);
}

.button-close::after {
  transform: rotate(45deg);
}

.button-close:hover::before,
.button-close:hover::after {
  opacity: 1;
}
.button-close:active::before,
.button-close:active::after {
  opacity: 0.1;
}